* {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border-radius: 400px;
}
.topnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link,
.links {
    display: flex;
    text-indent: 20px;
    color: rgb(56, 37, 37);
}

span,
p,
h1 {
    text-shadow: rgb(0, 0, 0) 1px 1px 1px, blue 3px 3px 5px;
}

.ion {
    border-radius: 200px 0px 200px 0px;
    height: 50px;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    font-weight: bolder;
}
.container {
    background-image: linear-gradient(rgb(185, 120, 45), rgb(80, 64, 70));
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.statement {
    transform: scale(2);
    align-items: center;
    margin-left: 200px;
}

.bold {
    text-indent: 20px;
    text-align: justify;
    letter-spacing: 1px;
    border-radius: 80px;
}

button {
    transform: scale(0.4);
    width: 150px;
    height: 60px;
    border-color: rgb(95, 87, 87);
}

.r {
    transform: scale(0.5);
    width: 150px;
    height: 40px;
    background-color: rgb(47, 240, 134);
    text-transform: capitalize;
    border-color: rgb(19, 153, 113);
    border-radius: 200px;
}

.wars {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

img {
    object-fit: fill;
}

.section {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(110, 106, 106);
}

.spad {
    transform: scale(2.3);
    text-align: center;
    margin-left: 300px;
}

i {
    transform: scale(1.2);
    text-indent: 10px;
}

.wars img {
    width: 300px;
    height: 200px;
    transition: all 0s;
}

img:hover {
    transform: scale(1.1);
}

.come {
    background-color: rgb(80, 80, 77);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    border-radius: 300px;
}